{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

{% block body %}
    <ul id="imageBrowseList" class="list-inline">
        {% for image in images %}
            <li>
                <a href="javascript:void(0)"
                   onClick='window.opener.CKEDITOR.tools.callFunction("{{ callback }}", "{{ zantolov_uploader_asset(image, 'imageFile', null, false) | imagine_filter("postBodyImage") }}");window.close();'>

                    <img src="{{ zantolov_uploader_asset(image, 'imageFile', null, false) | imagine_filter("thumb") }}"
                         class="img-responsive"/>

                    <div class="name">
                        {{ image.imageName }}
                    </div>
                </a>
            </li>
        {% endfor %}

    </ul>

    <div class="navigation text-center">
        {{ knp_pagination_render(images) }}
    </div>

{% endblock %}