{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}Image Edit{% endblock %}
            {% block actionPanel %}
                <ul class="list-inline">
                    <li>
                        <a onclick="$('#zantolov_mediabundle_image_submit').click();" href="javascript:void(0)"
                           class="btn btn-success btn-sm">
                            <i class="fa fa-check"></i> Update
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="{{ path('zantolov.media.image.index') }}">
                            <i class="fa fa-arrow-left"></i> Back to the list
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('zantolov.media.image.show', {id:entity.id}) }}">
                            <i class="fa fa-arrow-left"></i> Back to the image
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <div class="col-md-5 text-center">
            {% if entity.imageFile is defined %}
                <img class="img-thumbnail"
                     src="{{ zantolov_uploader_asset(entity, 'imageFile', null, false) | imagine_filter('500x330') }}"
                     alt=""/>
            {% endif %}
        </div>
        <div class="col-md-7">
            {{ form(edit_form) }}
        </div>

    {% endblock %}
