{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                <h1>{% trans %}Image list{% endtrans %}</h1>
            {% endblock %}
            {% block actionPanel %}
                {% include 'ZantolovAppBundle:SensioGeneratorBundle:partials/CRUD/indexLinks.html.twig' with {entityPrefix: "media.image."} %}
            {% endblock %}
        {% endembed %}

        <table class="table dataTable">
            <thead>
            <tr>
                <th class="col-sm-1">#</th>
                <th>{% trans %}Image{% endtrans %}</th>
                <th>{% trans %}Image name{% endtrans %}</th>
                <th>{% trans %}Created at{% endtrans %}</th>
                <th>{% trans %}Updated at{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
                <th class="col-sm-1">{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('media.image.show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                    </td>
                    <td>
                        <a href="{{ path('media.image.show', { 'id': entity.id }) }}">
                            <img src="{{ zantolov_uploader_asset(entity, 'imageFile', null, false) | imagine_filter('thumb') }}"/>
                        </a>
                    </td>
                    <td>{{ entity.imageName }}</td>
                    <td>{% if entity.createdAt %}{{ entity.createdAt|date(defaultDateTimeFormat) }}{% endif %}</td>
                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date(defaultDateTimeFormat) }}{% endif %}</td>
                    <td>{{ entity.active|fontAwesome() }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           title="Show"
                           href="{{ path('media.image.show', { 'id': entity.id }) }}">
                            <i class="fa fa-search"></i>
                        </a>
                        <a class="btn btn-primary btn-sm"
                           title="Edit"
                           href="{{ path('media.image.edit', { 'id': entity.id }) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
