{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

{% block body %}
    {% for file in files %}
        <div class="documentItem equalItem">
            <a href="javascript:void(0)"
               onClick='window.opener.CKEDITOR.tools.callFunction("{{ callback }}", "{{ url('zantolov.media.document.download', {filename: file.filename }) }}");window.close();'>

                <i class="fa fa-3x fa-file"></i>

                <span class="name">{{ file.filename }}</span>
            </a>
        </div>
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(files) }}
    </div>

{% endblock %}


{% block customJsPlugins %}
    {{ parent() }}
    <script src="{{ asset('bundles/zantolovapp/js/matchHeight.min.js') }}"></script>

    <script>
        var functions = window.functions || [];
        functions.push(function () {
            $('.equalItem').matchHeight();
        });
    </script>

{% endblock %}