{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

    {% block body -%}

        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('media.image') }}">
                    <i class="fa fa-arrow-left"></i> {% trans %}Back to the list{% endtrans %}
                </a>
            </li>
            <li>
                <a class="btn btn-primary"
                   href="{{ path('zantolov.media.document.edit', { 'id': entity.id }) }}">
                    <i class="fa fa-edit"></i> {% trans %}Edit{% endtrans %}
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>

        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Filename{% endtrans %}</th>
                <td>{{ entity.filename }}</td>
            </tr>
            <tr>
                <th>{% trans %}Created at{% endtrans %}</th>
                <td>{{ entity.createdAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>{% trans %}Updated at{% endtrans %}</th>
                <td>{{ entity.updatedAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>{% trans %}Active{% endtrans %}</th>
                <td>{{ entity.active|fontAwesome() }}</td>
            </tr>
            </tbody>
        </table>

    {% endblock %}
